<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors Available</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="gtranslate_wrapper"></div>
  <script>window.gtranslateSettings = {"default_language":"en","languages":["en","fr","de","it","es","hi","mr","ur"],"wrapper_selector":".gtranslate_wrapper"}</script>
  <script src="https://cdn.gtranslate.net/widgets/latest/flags.js" defer></script>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Counselor's Name</th>
            <th scope="col">Education</th>
            <th scope="col">Availability</th>
            <th scope="col">Ask to connect</th>
          </tr>
        </thead>
        <% items.forEach(element => { %>
          <tbody>
            <tr>
              <th scope="row"><%= element._id %></th>
              <td><%= element.username %></td>
              <td><%= element.degree %></td>
              <td><%= element.availibility %></td>
              <td><%= element.link %></td>
            </tr>
          </tbody>
        <% }) %>
      </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>